html, body{
    margin: 5px;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}

header{
    margin: 5px;
}

h4{
    margin: 5px;
}

.hidden{
    display: none !important;
}

.startGame{
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    z-index: 99;
}

.result{
    background: white;
    text-align: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    box-sizing: border-box;
    z-index: 99;
}

table{
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}

th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #204184;
    color: white;
    font-size: large;
}

tr:nth-child(even){
    background-color: lightgrey;
}

td{
    text-align: left;
}


td, th{
    border: 1px solid lightgrey;
    padding: 8px;
}

.button{
    background-color: #204184;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid gray;
    margin-left: 10px;
    border-radius: 4px 4px 4px 4px;
}

.switch-field {
    display: flex;
    overflow: hidden;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.switch-field input {
    display: none;
}

.switch-field label {
    background-color: white;
    font-size: 14px;
    text-align: center;
    padding: 8px 16px;
    border: 1px solid gray;
    margin-left: 10px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
    background-color: #204184;
    box-shadow: none;
    color: white;
    font-weight: bold;
}

.switch-field label {
    border-radius: 4px 4px 4px 4px;
}

input{
    margin: 10px 0;
}

footer{
    position: static;
    margin: 10px;
    bottom: 0;
    display: flex;
    justify-content: space-between;

}

footer img{
    max-height: 50px;
    margin-left: 10px;
}

footer .leftFooter{
    display: flex;
    align-content: center;
    align-items: center;
}

footer .rightFooter{
    float: right;
    display: flex;
    align-content: center;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    canvas{
        width: 300px;
        height: 300px;
    }

}




